:root {
  --accent-color: #2196f3;
  --white-background: #ffffff;
  --dark-background: #2f303a;
  --light-background: #f5f4fa;
  --second-font: 'Raleway';
  --primary-color: #212121;
  --secondary-color: #ffffff;
  --tertiary-color: #757575;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}
ul {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', 'sans-serif';
  color: var(--primary-color);
  font-size: 14px;
  background-color: var(--white-background);
  letter-spacing: 0.03em;
  height: 100%;
}

button {
  cursor: pointer;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: inherit;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.link {
  text-decoration: none;
}

/* --------------------------------------------header------------------------------ */
.header {
  /* padding-top: 24px;
  padding-bottom: 25px; */
  border-bottom: 1px solid #ececec;
}
.header-logo {
  font-family: var(--second-font);
  font-weight: 700;
  font-size: 26px;
  color: var(--accent-color);
  line-height: calc(31 / 26);
  min-width: 145px;
  min-height: 31px;
  margin-right: 93px;
}

.span-logo {
  color: var(--primary-color);
}
.header-link {
  display: block;
  font-weight: 500;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--primary-color);
  padding-top: 32px;
  padding-bottom: 32px;
}

.header-item:not(:last-child) {
  margin-right: 50px;
}

.current {
  color: var(--accent-color);
}
.header-link:active,
.header-link:focus,
.header-link:hover {
  color: var(--accent-color);
}
.header-mail {
  font-weight: 500;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;

  color: var(--tertiary-color);
}
.header-mail:hover,
.header-mail:focus {
  color: var(--accent-color);
}
.header-tel {
  font-weight: 500;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--tertiary-color);
}
.header-tel:hover,
.header-tel:focus {
  color: var(--accent-color);
}
.header-list {
  display: flex;
  align-items: center;
}
.header-nav {
  display: flex;
  align-items: center;
}
.header-container {
  display: flex;
  align-items: center;
}

.tel-mail {
  margin-left: auto;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* -------------------------------------------hero------------------------------------------------*/
.hero {
  background-color: var(--dark-background);
  background-image: url(../images/hero-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  /* max-width: 1600px;
  margin: 0 auto; */

  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero-title {
  margin-bottom: 30px;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-color);
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;
}

.hero-button {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 16px;
  line-height: calc(30 / 16);
  /* min-width: 200px;
  min-height: 50px; */
  display: inline-block;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  border: none;

  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;

  color: var(--secondary-color);
  cursor: pointer;
}

.hero-button:hover,
.hero-button:focus {
  background-color: #188ce8;
}

/* <!---------------------- Секція Наші переваги -------------------------------------> */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
.advantages-title {
  font-size: inherit;
  font-weight: 700;
  line-height: calc(16 / 14);
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;
}
.advantages-text {
  line-height: 1.71;
  color: var(--tertiary-color);
}
.advantages-list {
  display: flex;
  justify-content: space-between;
}
.advantages-list:not(:last-child) {
  margin-right: 30px;
}

.advantages-item {
  width: 270px;
}

/* <!------------------------------------- Секція Чим ми займаємося ----------------------> */
.what-we-do-title,
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
}
.what-we-do {
  padding-top: 0;
}
.what-we-do-title {
  margin-bottom: 50px;
}

.what-we-do-item:not(:last-child) {
  margin-right: 30px;
}
.what-we-do-list {
  display: flex;
  justify-content: space-between;
}

/* <!----------------------------------- секція наша команда -------------------------> */
.team {
  background-color: var(--light-background);
}
.team-title {
  margin-bottom: 50px;
}

.team-list {
  display: flex;
  justify-content: center;
}
.team-item:not(:last-child) {
  margin-right: 30px;
}
.team-card {
  margin-bottom: 10px;
}

.team-card-one,
.team-card-two,
.team-card-three,
.team-card-four {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
}
.team-profession {
  font-size: 16px;
  line-height: calc(19 / 16);
  text-align: center;
  color: var(--tertiary-color);
  margin-bottom: 16px;
}

.prof {
  padding: 30px 59px 30px 60px;
  background-color: var(--white-background);
}
.team-icon-link {
  width: 44px;
  height: 44px;
  background-color: teal;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.team-icon-list {
  display: flex;
  justify-content: center;
}
.team-icon-item + .team-icon-item {
  margin-left: 10px;
}

/* -----------------------------------------------footer------------------------------------------- */

.footer-logo {
  font-family: var(--second-font);
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  color: var(--accent-color);
}

.span-footer-logo {
  color: var(--secondary-color);
}

.footer {
  background-color: var(--dark-background);
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-list .link {
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
  color: var(--secondary-color);
}
.footer-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-mail {
  opacity: 0.6;
}

.footer-tel {
  opacity: 0.6;
}
.footer-list .link:hover,
.footer-list .link:focus {
  color: var(--accent-color);
}
.address {
  margin-top: 20px;
}

/* ------------------------------------------портфоліо----------------------------------------- */

.portfolio-list {
  display: flex;
  justify-content: center;
}
.portf-btn {
  margin-bottom: 56px;
}

.list-img {
  flex-wrap: wrap;
}

.portfolio-item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-button {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: var(--primary-color);
  background: var(--light-background);
  border-radius: 4px;
  cursor: pointer;
  padding: 6px 22px;
  border: none;
}

.portfolio-image:not(:nth-child(3n + 3)) {
  margin-right: 30px;
}
.portfolio-image:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.portfolio-image {
  flex-basis: calc(100% / 3 - 30px);
}
.portfolio-button.active,
.portfolio-button:active,
.portfolio-button:focus,
.portfolio-button:hover {
  color: var(--secondary-color);
  background: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.portfolio-title {
  color: var(--primary-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}
.portfolio-aftertitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  color: var(--tertiary-color);
}
.proekt {
  padding: 20px 24px;
  background: var(--white-background);
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}
/* .container {
  max-width: 200px;
  height: 240px;
  margin: auto;
  background-color: hsla(0, 0%, 0%, 0.1);
  background-image: url ("ttps://ac.goit.global/img/photo.jpg');
  background-size: cover;
  background-position: center;
} */
